@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

.bg {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-color: hsl(185, 75%, 39%);
  background-repeat: no-repeat, no-repeat;
  background-position: left -88% bottom 200px, right -200px top 380px;

  .card {
    position: absolute;
    background: #ffffff;
    width: 330px;
    height: 352px;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    .profile-bg {
      height: 133px;
      background-image: url(../images/bg-pattern-card.svg);

      img {
        height: 100px;
        width: 100px;
        border: 5px solid #fff;
        border-radius: 100%;
        position: relative;
        bottom: -63%;
        left: calc((330px - 100px) / 2);
      }
    }

    .text-container {
      position: relative;
      bottom: 0;

      .name {
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 63px;
        color: hsl(229, 23%, 23%);

        h2 {
          font-size: 18px;
          font-weight: 700;

          span {
            font-weight: 400;
            color: hsl(0, 0%, 46%);
          }
        }

        p {
          font-size: 14px;
          font-weight: 400;
          margin-top: 5px;
        }
      }

      .social {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid hsl(226, 31%, 89%);
        height: 84px;
        width: 100%;
        color: hsl(229, 23%, 23%);
        text-align: center;

        h2 {
          font-weight: 700;
          font-size: 18px;

          &:nth-child(2) {
            margin-right: 40px;
            margin-left: 40px;
          }

          span {
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 1px;
          }
        }
      }
    }
  }

  .attribution {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    line-height: 35px;

    a {
      color: rgb(0, 0, 0);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
